page-settings-popover {
    min-height: 18em;
    height: auto;
    display: block;
    ion-content{
        height: inherit;
        min-height: inherit;
        .scroll-content{
            height: inherit;
            min-height: inherit;
        }
    }
}