page-settings-popover {
    ion-content .scroll-content{
        padding: 0 !important;

        ion-list-header{
            margin: 0 !important;
            min-height: 0 !important;
            ion-label{
                margin: 10px 0 0 !important;
            }
        }

        .button-theme {
            width: 20px;
            height: 20px;

            &:not(.active){
                border: 2px solid #ccc;
            }
            &.active{
                border: 2px solid map-get($colors, 'primary');
            }

            &.theme-light{
                background: map-get($colors, 'light');
            }
            &.theme-tan{
                background: map-get($colors, 'tan');
            }
            &.theme-dark{
                background: map-get($colors, 'dark');
            }
            &.theme-pic{
                background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/images/Congregation%20Singing.jpg');
                background-size: cover;
            }
        }
    }
    ion-label{
        color: #aaa;
    }
}
