<!--
  Generated template for the InputModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()" clear>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="inputType">
        <ion-segment-button value="all_hymns" (ionSelect)="allHymnSelect()">
            All hymns
        </ion-segment-button>
        <ion-segment-button value="bookmarks">
            Bookmarks
        </ion-segment-button>
        <ion-segment-button value="recent">
            Recent
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content padding>
    <div [ngSwitch]="inputType">
        <div *ngSwitchCase="'all_hymns'" #allHymns>
            <ion-searchbar (ionInput)="filterHymns($event)" [showCancelButton]="true" placeholder="Search hymn" type="number" [(ngModel)]="hymnTextFilter" #hymnFilter></ion-searchbar>
            <ion-list>
                <ion-item *ngFor="let hymn of hymnList | slice:0:hymnLimit;" (click)="setActiveHymn(hymn['id'])">
                    <h2>{{ 'Hymn #' + hymn.title }}</h2>
                    <p>{{ hymn.firstLine }}</p>
                </ion-item>
            </ion-list>
            <p class="indicator">{{ getIndicator() }}</p>
            <!-- <ion-infinite-scroll (ionInfinite)="hymnsInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll> -->

            <div class="keyboard">
                <div class="keys">
                    <button class="key" aria-valuetext="1">1</button>
                    <button class="key" aria-valuetext="2">2</button>
                    <button class="key" aria-valuetext="3">3</button>
                    <button class="key" aria-valuetext="s">s</button>
                </div>
                <div class="keys">
                    <button class="key" aria-valuetext="4">4</button>
                    <button class="key" aria-valuetext="5">5</button>
                    <button class="key" aria-valuetext="6">6</button>
                    <button class="key" aria-valuetext="t">t</button>
                </div>
                <div class="keys">
                    <button class="key" aria-valuetext="7">1</button>
                    <button class="key" aria-valuetext="8">2</button>
                    <button class="key" aria-valuetext="9">3</button>
                    <button class="key" aria-valuetext="f">f</button>
                </div>
                <div class="keys">
                    <button class="key" aria-valuetext="b">
                        <span class="fa fa-long-arrow-left"></span>
                    </button>
                    <button class="key" aria-valuetext="0">0</button>
                    <button class="key" aria-valuetext="c">
                        <span class="fa fa-close"></span>
                    </button>
                    <button class="key" aria-valuetext="e">
                        <span class="fa fa-check"></span>
                    </button>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'bookmarks'">
            <ion-searchbar (ionInput)="filterHymns($event)" [showCancelButton]="true" placeholder="Search bookmarks" type="number" [(ngModel)]="bkmkFilterText" #bkmkFilter></ion-searchbar>
            <ion-list>
                <ion-item-sliding *ngFor="let bkmk of bookmarkList" (click)="setActiveHymn(bkmk['hymnId'])">
                    <ion-item>
                        <h2>{{ bkmk['firstLine'] }}</h2>
                        <p>Hymn #{{ bkmk['title'] }}</p>
                    </ion-item>
                    <ion-item-options side="left">
                        <button ion-button color="danger" (click)="presentConfirmUnbookmark()">
                            <ion-icon name="close"></ion-icon>
                            Remove
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>
        <div *ngSwitchCase="'recent'">
            <ion-list>
                <ion-item *ngFor="let recent of recentList" (click)="setActiveHymn(recent['hymnId'])">
                    <h2>Hymn #{{ recent.hymnNumber }}</h2>
                    <p>{{ recent.firstLine }}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>