page-input-modal {
    .indicator {
        text-align: center;
        font-style: italic;
    }
}

.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(36, 36, 36);
    .key {
        color: rgb(207, 207, 207);
        background-color: rgb(51, 51, 51);
        border: 1px solid rgb(61, 61, 61);
    }
    @media screen and (max-width: 375px) {
        .key {
            height: 1.8em;
            font-size: 1.4em;
            width: 24.27%;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 426px) {
        .key {
            height: 1.7em;
            font-size: 1em;
            width: 24.4%;
        }
    }
    @media screen and (min-width: 427px) and (max-width: 768px) {
        .key {
            height: 2em;
            font-size: 1.9em;
            width: 24.5%;
        }
    }
    @media screen and (min-width: 769px) {
        .key {
            height: 2.5em;
            font-size: 1.3em;
            width: 24.4%;
        }
    }
}