<ion-header>
    <ion-navbar color="dark">
        <ion-title>Library</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="banner" type="error" *ngIf="!isOnline">
        No network connection detected.
    </div>
    <div class="banner" type="progress" *ngIf="isOnline && !hymnalList">
        Loading hymnals...
    </div>
    <ion-grid>
        <ion-row>
            <ion-col col-lg-4 col-md-6 col-sm-12 *ngFor="let hymnal of hymnalList">
                <ion-card (tap)="setActiveHymnal(hymnal.id)" [ngClass]="{ 'active': (activeHymnal == hymnal.id) }">
                    <div class="card-image">
                        <img [src]="hymnal.image" [alt]="hymnal.name" (error)="updateImage($event)" #img/>
                        <!-- <ion-icon name="book" *ngIf="!hymnal.image"></ion-icon> -->
                    </div>
                    <ion-card-content>
                        <ion-card-title>
                            {{hymnal.name}}
                        </ion-card-title>
                        <p>
                            {{hymnal.count}} hymns
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>