page-home {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            height: 50%;
            ion-card-content ion-card-title {
                position: absolute;
                top: 36%;
                font-size: 1.7em !important;
                width: 100%;
                font-weight: bold;
                color: #fff;
            }
            ion-card-content p {
                font-size: 1.0em;
                position: absolute;
                top: 52%;
                width: 100%;
                color: #fff;
            }
        }
    }
    ion-card {
        &.active, &:hover{
            box-shadow: 0px 1px 20px 2px #ffeb3b;
        }
        .card-image {
            height: 200px;
            overflow: hidden;
        }
        ion-card-content {
            ion-card-title {
                font-size: 1.2em !important;
                color: #fff !important;
            }
            p {
                font-size: 0.8em !important;
                color: #fff;
            }
        }
    }
    @media screen and (min-width: 283px) and (max-width: 575px) {
        .col {
            flex-basis: 100% !important;
        }
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
        .col {
            &[col-md-6]{
                max-width: 50% !important;
            }
        }
    }
}