page-home {
    ion-list{
        margin-top: 0 !important;
        ion-item{
            &.active, &:hover{
                border: 1px solid map-get($colors, 'primary');
            }
        }
    }

    .banner{
        text-align: center;
        &[type="error"]{
            background: map-get($colors, 'danger');
        }
        &[type="success"]{
            background: map-get($colors, 'secondary');
        }
        &[type="progress"]{
            background: map-get($colors, 'primary');
            color: #222;
        }
    }
    @media screen and (min-width: 283px) and (max-width: 575px) {
        .col {
            flex-basis: 100% !important;
        }
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
        .col {
            &[col-md-6]{
                max-width: 50% !important;
            }
        }
    }
}