<ion-header>
    <ion-navbar color="dark">
        <ion-title>Library</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="banner" type="error" *ngIf="!isOnline">
        No internet connection.
    </div>
    <div class="banner" type="progress" *ngIf="isOnline && !hymnalList">
        Loading hymnals...
    </div>
    <ion-list>
        <ion-item *ngFor="let hymnal of hymnalList" (tap)="setActiveHymnal(hymnal.id)" [ngClass]="{ 'active': (activeHymnal == hymnal.id) }">
            <ion-thumbnail item-start>
                <img [src]="hymnal.image" [alt]="hymnal.name"/>
            </ion-thumbnail>
            <h2>{{ hymnal.name }}</h2>
            <p>{{hymnal.count}} hymns</p>
        </ion-item>
    </ion-list>
</ion-content>