// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content .scroll-content {
    overflow: auto;
    user-select: auto !important;
}

.alert-wrapper {
    background-color: #242424 !important;
    color: #999;
    [ng-reflect-ng-switch] {
        display: flex;
        .alert-radio-group {
            width: 100%;
        }
    }
    .alert-radio-label {
        color: #999;
    }
}

.alert-wp {
    .alert-message {
        color: #ffeb3b !important;
    }
}

.bar-button-ios {
    color: #000 !important;
    &+& {
        margin-left: 10px;
    }
}

.list-ios .list-header {
    color: #999 !important;
}

.alert-md .alert-message {
    color: #fff !important;
}